<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <header class="page-header">
        <a href="/" class="page-header__logo">
            <img src="/assets/avatar.png" alt="" width="96">
            <p>{{site.title}}</p>
        </a>

        <nav>
            <a href="#">About Me</a>
            <a href="#">Blog</a>
            <a href="/notes">Notes</a>
        </nav>
    </header>
    <main>
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>Copyright {{site.author}}</small>
    </footer>
</body>
</html>