<hr>
<p class="backlinks-title larger">Backlinks</p>
{% if backlinks.length > 0%}
<ul class="backlinks-container">
    {% for link in backlinks %}
        <li class="backlink">
            <a href="{{link.url}}" class="backlink__link">{{link.title}}</a>
            <div class="backlink__preview" role="img">
                {{link.preview | markdownify | truncate: 240}}
            </div>
        </li>
    {% endfor %}
</ul>
{% else %}
<p class="backlinks-default">No backlinks found.</p>
{% endif %}